fastapi
uvicorn
langchain
langchain-community
langchain-huggingface
chromadb
pydantic
python-multipart
python-dotenv
sqlalchemy
pypdf
python-docx
sentence-transformers
requests
bcrypt==4.0.1
python-jose[cryptography]
passlib[bcrypt]
pydantic-settings
# PostgreSQL driver (commented - using SQLite for now)
# psycopg2-binary
